<div *ngIf="loading || !articles; else loaded" class="article-preview">Loading articles...</div>
<ng-template #loaded>
  <div *ngFor="let article of articles" class="article-preview">
    <div class="article-meta">
      <a [routerLink]="['/profile', article.author.username]">
        <img [src]="article.author.image || defaultImage">
      </a>
      <div class="info">
        <a class="author" [routerLink]="['/profile', article.author.username]">{{ article.author.username}}</a>
        <span class="date">{{ article.createdAt | date }}</span>
      </div>
      <div class="pull-xs-right">
        <button
          class="btn btn-sm"
          [ngClass]="{ 'btn-primary': article.favorited, 'btn-outline-primary': !article.favorited }"
          (click)="onToggleArticleFavorite(article)">
          <i class="ion-heart"></i>
          <span> {{ article.favoritesCount }}</span>
        </button>
      </div>
    </div>
    <div class="preview-link">
      <a [routerLink]="['/article', article.slug]" class="preview-link">
        <h1>{{ article.title }}</h1>
        <p>{{ article.description }}</p>
        <span>Read more...</span>
      </a>
      <ul class="tag-list">
        <li *ngFor="let tag of article.tagList" class="tag-default tag-pill tag-outline">
          <a [routerLink]="['.']" [queryParams]="{ tag: tag }">{{ tag }}</a>
        </li>
      </ul>
    </div>
  </div>
  <app-pager [articlesCount]="articlesCount"></app-pager>
</ng-template>
