<ng-template #authorMeta>
  <a
    class="btn btn-outline-secondary btn-sm"
    [routerLink]="['/editor', article.slug]">
    <i class="ion-edit"></i>
    Edit Article
  </a>
  <button class="btn btn-outline-danger btn-sm" type="button">
    <i class="ion-trash-a"></i>
    Delete Article
  </button>
</ng-template>

<ng-template #nonAuthorMeta>
  <button
    class="btn btn-sm"
    [ngClass]="{ 'btn-outline-secondary': !article.author.following, 'btn-secondary': article.author.following }"
    (click)="onToggleFollowProfile(article.author)">
    <i class="ion-plus-round"></i>
    {{ article.author.following ? ' Unfollow ' : ' Follow ' }}
    {{ article.author.username }}
  </button>
  <button
    class="btn btn-sm"
    [ngClass]="{ 'btn-outline-primary': !article.favorited, 'btn-primary': article.favorited }"
    (click)="onToggleFavoriteArticle(article)">
    <i class="ion-heart"></i>
    {{ article.favorited ? ' Unfavorite' : ' Favorite' }}
    Article
    <span class="counter">({{ article.favoritesCount }})</span>
  </button>
</ng-template>

<ng-template #articleMeta>
  <div class="article-meta">
    <a [routerLink]="['/profile', article.author.username]">
      <img [src]="article.author.image || defaultImage">
    </a>
    <div class="info">
      <a class="author" [routerLink]="['/profile', article.author.username]">
        {{ article.author.username }}
      </a>
      <span class="date">{{ article.createdAt | date }}</span>
    </div>
    <ng-template [ngIf]="article.author.username === getUser().username" [ngIfElse]="nonAuthor">
      <ng-container *ngTemplateOutlet="authorMeta">
      </ng-container>
    </ng-template>
    <ng-template #nonAuthor>
      <ng-container *ngTemplateOutlet="nonAuthorMeta">
      </ng-container>
    </ng-template>
  </div>
</ng-template>

<div class="article-page">
  <div *ngIf="!loading" class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>
      <ng-container *ngTemplateOutlet="articleMeta"></ng-container>
    </div>
  </div>
  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <span *ngIf="loading">Loading...</span>
        <ng-template [ngIf]="!loading">
          <h2>{{ article.description }}</h2>
          <div class="tag-list">
            <a
              *ngFor="let tag of article.tagList"
              class="tag-pill tag-default"
              [routerLink]="['/']"
              [queryParams]="{ tag: tag }">{{ tag }}</a>
          </div>
          <p [innerHTML]="article.body | markdown"></p>
        </ng-template>
      </div>
    </div>
      <ng-template [ngIf]="!loading">
        <hr>
        <div class="article-actions">
          <ng-container *ngTemplateOutlet="articleMeta"></ng-container>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 offset-md-2">
            <form *ngIf="getUser()" [formGroup]="commentForm" (ngSubmit)="onPostComment()" class="card comment-form">
              <div class="card-block">
                <textarea
                  class="form-control"
                  placeholder="Write a comment..."
                  rows="3"
                  formControlName="body">
                </textarea>
              </div>
              <div class="card-footer">
                <img class="comment-author-img" [src]="getUser().image || defaultImage">
                <button class="btn btn-sm btn-primary">
                  Post Comment
                </button>
              </div>
            </form>
            <p *ngIf="!getUser()">
              <a [routerLink]="['/login']">Sign in</a>
              or
              <a [routerLink]="['/register']">sign up</a>
              to add comments on this article.
            </p>
            <div *ngFor="let comment of comments" class="card">
              <div class="card-block">
                <p class="card-text">{{ comment.body }}</p>
              </div>
              <div class="card-footer">
                <a class="comment-author" [routerLink]="['/profile', comment.author.username]">
                  <img class="comment-author-img" [src]="comment.author.image || defaultImage">
                </a>
                <a class="comment-author" [routerLink]="['/profile', comment.author.username]"
                   style="margin-left: 4px">
                  {{ comment.author.username }}
                </a>
                <span class="date-posted">{{ comment.createdAt | date }}</span>
                <span *ngIf="getUser() && getUser().username === comment.author.username" class="mod-options">
                  <i class="ion-trash-a" (click)="onDeleteComment(article.slug, comment.id)"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
  </div>
</div>
