<div *ngIf="!article">Loading article...</div>
<div *ngIf="article" class=".editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <form [formGroup]="articleForm" (ngSubmit)="publishArticle()">
          <fieldset>
            <fieldset class="form-group">
              <input
                type="text" class="form-control form-control-lg"
                placeholder="Article Title" formControlName="title">
              <!-- fieldErrors title -->
            </fieldset>
            <fieldset class="form-group">
              <input
                type="text" class="form-control form-control-lg"
                placeholder="What's this article about?" formControlName="description">
              <!-- fieldErrors description -->
            </fieldset>
            <fieldset class="form-group">
              <textarea
                type="text" class="form-control" rows="8"
                placeholder="Write your article (in markdown)" formControlName="body">
              </textarea>
              <!-- fieldErrors body -->
            </fieldset>
            <fieldset class="form-group">
              <input
                type="text" class="form-control"
                placeholder="Enter tags" formControlName="tags">
              <div class="tag-list">
                <span *ngFor="let tag of tagList" class="tag-pill tag-default">{{ tag }}</span>
              </div>
            </fieldset>
            <button class="btn btn-lg pull-xs-right btn-primary">
              Publish Article
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>