<!--
  const updateCredForm = (method, field) =>
    pipe(
      path(["target", "value"]),
      actions.updateCredForm(method, field)
    )
  const id = options.method

  const errors = Object.keys(state[id].errors || {}).map(key => `${key} ${state[id].errors[key]}`)
-->
<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ options.label }}</h1>
        <p class="text-xs-center">
          <a [routerLink]="options.alternativePage">{{ options.alternativeLabel }}</a>
        </p>
        <ul class="error-messages">
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
        <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
          <fieldset *ngIf="options.showUsername" class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Username"
              formControlName="username">
          </fieldset>
          <fieldset class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Email"
              formControlName="email">
          </fieldset>
          <fieldset class="form-group">
            <input type="password" class="form-control form-control-lg" placeholder="Password"
              formControlName="password">
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right">
            {{ options.label }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
